<mat-grid-list cols="10" rowHeight="100%"  >
  <mat-grid-tile  colspan="7"   >
    <img
      class="backImg"
      src="./assets/loginBackground.png"/>
  </mat-grid-tile>
  <mat-grid-tile  colspan="3">
    <form class="example-form">
      <img
        class="loginImg"
        src="./assets/login/banklogo.png"/>
      <mat-form-field class="example-full-width" appearance="outline" color="accent">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter your name" name="usename"
               [(ngModel)] ="username" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline" color="accent">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
      </mat-form-field>
      <button mat-raised-button  (click)="submit()">Log In</button>
      <p class="text-or"> or </p>
      <button mat-raised-button  routerLink="/register">Sign Up</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>

