<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Bank Maintenance System
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button" routerLink="/customer">
      <mat-icon>
        <span class="material-symbols-outlined">person</span>
      </mat-icon>
      <span style="color: black">Customer</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/addProduct">
      <mat-icon>
        <span class="material-symbols-outlined">interests</span>
      </mat-icon>
      <span style="color: black">Account Info</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/transaction">
      <mat-icon>
        <span class="material-symbols-outlined">interests</span>
      </mat-icon>
      <span style="color: black">Transaction</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>
        <span class="material-symbols-outlined">logout</span>
      </mat-icon>
      <span style="color: black" routerLink="/">Log Out</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
